:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(29, 29, 29);
}

* {
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2.5em;
    color: rgb(250, 239, 220);
}

p {
    color: rgb(250, 239, 220);
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 51, 2);
    box-shadow: 0px 3px 12px rgba(46, 46, 46, 0.5);
    width: 100vw;
    height: 80px;
    margin: 30px 0px 40px 0px;
}

#webgl {
    border-radius: 4px;
    box-shadow: 0px 3px 12px rgba(46, 46, 46, 0.5);
}

.pipe {
    position: fixed;
    bottom: 0;
    width: 15vw;
    height: auto;
    pointer-events: none;
}

.pipe-left {
    left: 50px;
}

.pipe-right {
    right: 50px;
}
